@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.career__btn._tab-active::after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-link:before {
  content: "\e900";
}

._icon-s-git:before {
  content: "\e901";
}

._icon-s-instagram:before {
  content: "\e902";
}

._icon-s-linkedin:before {
  content: "\e903";
}

._icon-strelka:before {
  content: "\e904";
}

._icon-s-twitter:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #232E35;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  -o-transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  border-radius: 0.625rem;
  background-color: #100c46;
  -webkit-box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  -o-transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-0.3125rem, -0.125rem, 0);
      -ms-transform: translate3D(-0.3125rem, -0.125rem, 0);
          transform: translate3D(-0.3125rem, -0.125rem, 0);
  -webkit-box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.25;
  color: #232E35;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.title span {
  color: #7E74F1;
}

.title_big {
  font-size: 2.75rem;
}

.title__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 2;
  letter-spacing: 0.46875rem;
}

.title__label::before {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1rem;
  height: 0.125rem;
  background-color: #D9D9D9;
}

.title__sub-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: #232E35;
}

.social {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.social__icon {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
}

.header__body {
  min-height: 7.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 100;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.header__button {
  position: relative;
  z-index: 100;
  padding: 1rem 1.5rem;
  border: 0.0625rem solid #D9D9D9;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  position: relative;
}

.main__content {
  width: 50%;
}

.main__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.img {
  position: relative;
  height: 25rem;
}

.img__decor {
  position: absolute;
  top: 0;
  height: 100%;
  width: 57%;
  min-width: 16.875rem;
  background: #7E74F1;
  border-radius: 1rem;
  -webkit-transform: rotate(-9.55deg);
      -ms-transform: rotate(-9.55deg);
          transform: rotate(-9.55deg);
}

.img__body {
  position: absolute;
  width: 56%;
  min-width: 16.875rem;
  z-index: 2;
  height: 100%;
  background: #EAE6FE;
  overflow: hidden;
  border-radius: 1rem;
}

.img__body::before {
  content: url(../img/lines.svg);
  position: absolute;
  top: 0;
  right: 0;
}

.img__people {
  position: absolute;
  bottom: 0;
  z-index: 4;
}

.content__social {
  padding-top: 2.5rem;
}

.services {
  background-color: #FBFBFB;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.5rem;
}

.services__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  text-align: center;
  background-color: #FFF;
  padding: 3.3125rem 3.5625rem;
}

.services__icon {
  padding: 1rem;
  background-color: #F5F3FE;
  border-radius: 1rem;
}

.services__title-items {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  text-align: center;
}

.services__info {
  width: 100%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #232E35;
}

.portfolios__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.portfolios__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolios__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolios__box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.portfolios__box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolios__box-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.portfolios__strelka {
  display: block;
  padding: 0.9375rem 1.0625rem;
  background-color: #EAE6FE;
  color: #7E74F1;
  border-radius: 1rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.portfolios__strelka_left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.portfolios__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  border: 0.0625rem solid rgba(147, 158, 165, 0.4862745098);
}

.portfolios__image-ibg {
  opacity: 0.5;
  padding-bottom: 81.7174515235%;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.portfolios__image-ibg img {
  -o-object-position: top;
     object-position: top;
}

.portfolios__fotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
}

.portfolios__title {
  padding: 0.3125rem;
  padding-bottom: 1rem;
  width: 100%;
  font-weight: 500;
  line-height: 1.25;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.portfolios__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolios__texnologia {
  font-size: 0.75rem;
  line-height: 1.25;
  border: 0.0625rem solid #F1F1F1;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  -webkit-transition: All 0.3s ease-out;
  -o-transition: All 0.3s ease-out;
  transition: All 0.3s ease-out;
}

.portfolios__link {
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.career {
  background-color: #FBFBFB;
}

.career__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.career__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(18.125rem, 21.875rem);
  grid-template-columns: minmax(18.125rem, 21.875rem);
}

.career__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 2;
  grid-row: 2;
}

.career__btn {
  text-align: left;
  gap: 0.5625rem;
  padding: 0.875rem 2rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.career__btn._tab-active {
  color: #7E74F1;
  background-color: #FFF;
  margin-bottom: 1.25rem;
}

.career__btn._tab-active::after {
  content: "\e904";
}

.career__content {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-column-span: 3;
  grid-column-end: 3;
}

.item-list {
  color: #656D72;
}

.item-list__title-tab {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2777777778;
  color: #232E35;
  padding-bottom: 0.5rem;
}

.item-list__location {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 1.2142857143;
  padding-bottom: 1rem;
}

.item-list__data {
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.3333333333;
  color: #232E35;
}

.item-list__nav-btn {
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
}

.item-list__btn {
  border: 0.0625rem solid #F1F1F1;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-list__ul {
  border-top: 0.0625rem solid #F1F1F1;
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
}

.item-list__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  line-height: 1.1875;
  padding: 0.25rem 0;
}

.item-list__li::before {
  content: " ";
  margin-right: 1.125rem;
  opacity: 0.7;
  width: 0.625rem;
  min-width: 0.625rem;
  height: 0.125rem;
  background-color: #656D72;
}

.blog__label {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -2.1875rem;
}

.blog__title {
  text-align: center;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__item {
  overflow: hidden;
  max-width: 22.5625rem;
  border-width: 0rem 0.0625rem 0.0625rem 0.0625rem;
  border-style: solid;
  border-color: #F1F1F1;
  border-radius: 0.5rem;
}

.item-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-blog__image-ibg {
  padding-bottom: 67.3130193906%;
  opacity: 0.7;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.item-blog__title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #232E35;
  padding: 1rem;
}

.item-blog__data {
  padding: 0rem 1rem 1rem 1rem;
  font-size: 0.75rem;
  line-height: 1.25;
}

.item-blog__text {
  height: 100%;
  padding: 0rem 1rem 1rem 1rem;
}

.item-blog__link {
  display: block;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #656D72;
  padding: 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.test {
  background-color: rgba(251, 251, 251, 0.9843137255);
}

.test__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test__body {
  max-height: 21.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3.75rem;
}

.test__item {
  max-width: 22.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.item__avatar {
  position: absolute;
  top: -3rem;
  left: calc(50% - 3rem);
  z-index: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.item__text {
  font-weight: 400;
  height: 100%;
  font-size: 1rem;
  line-height: 1.75;
  color: #232E35;
  padding: 3rem 2.5rem 3.125rem 2.5rem;
}

.item__name {
  font-weight: 500;
  line-height: 1.2857142857;
  color: #232E35;
  padding-left: 2.5rem;
}

.item__work {
  font-size: 0.75rem;
  line-height: 1.25;
  color: #656D72;
  padding: 0.8125rem 2.5rem 1.75rem 2.5rem;
}

.skils__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skils__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.education__item {
  display: -ms-grid;
  display: grid;
  padding-left: 1.75rem;
  position: relative;
}

.education__item::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  left: -0.5rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #F1F1F1;
}

.education__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.0625rem;
  background-color: #F1F1F1;
}

.education__item:last-child {
  padding-bottom: 0;
}

.education__item:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.0625rem;
  background-color: #ffffff;
}

.education__title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 0.8;
  color: #232E35;
  padding-bottom: 0.625rem;
}

.education__sub-title {
  padding: 0.625rem 0;
}

.education__data {
  padding: 0.875rem 0;
}

.content-slils__text {
  line-height: 2;
  color: #232E35;
}

.content-slils__items {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

.content-slils__item {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.content-slils__label {
  font-weight: 500;
  color: #232E35;
  line-height: 1.0625;
}

.content-slils__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F3FE;
  width: 100%;
}

.content-slils__line span {
  height: 0.5rem;
  background: #7E74F1;
  border-radius: 0.125rem;
}

.contact {
  background: #FBFBFB;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.contact__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.contact__location {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.contact__items {
  display: -ms-grid;
  display: grid;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.form__input {
  width: 100%;
  background: #FFFFFF;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  resize: vertical;
}

.form__input::-webkit-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.form__input::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.form__input:-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.form__input::-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.form__input::placeholder {
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.form__button {
  width: 100%;
  padding: 1rem 0;
  background-color: #7E74F1;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #F5F3FE;
}

.form ._form-error {
  color: red;
}

.form ._form-error::-webkit-input-placeholder {
  color: red;
}

.form ._form-error::-moz-placeholder {
  color: red;
}

.form ._form-error:-ms-input-placeholder {
  color: red;
}

.form ._form-error::-ms-input-placeholder {
  color: red;
}

.form ._form-error::placeholder {
  color: red;
}

.item-contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.5625rem auto;
  grid-template-columns: 3.5625rem auto;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  row-gap: 0.25rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.item-contact__title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875;
  color: #232E35;
}

.item-contact__adress {
  line-height: 1.7142857143;
}

.item-contact__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.5625rem;
  height: 3.5625rem;
  border-radius: 1rem;
  -ms-grid-row-span: 3;
  grid-row: span 3;
  background-color: #F5F3FE;
}

.item-contact__icon img {
  width: 1.5rem;
  height: 1.5rem;
}

.footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20%;
  background: #FFF;
}

.footer__social {
  padding-bottom: 1.5rem;
}

.footer__copy {
  text-align: center;
}

@media (min-width: 76.875em) {
  .main__container {
    padding-bottom: 3.125rem;
  }

  .main__container {
    padding-top: 7.6875rem;
  }

  .services__container {
    padding-bottom: 3.125rem;
  }

  .services__container {
    padding-top: 7.6875rem;
  }

  .portfolios__container {
    padding-bottom: 3.125rem;
  }

  .portfolios__container {
    padding-top: 7.6875rem;
  }

  .portfolios__box-top {
    padding-bottom: 3.125rem;
  }

  .career__container {
    padding-bottom: 3.125rem;
  }

  .career__container {
    padding-top: 7.6875rem;
  }

  .career__body {
    -webkit-column-gap: 9rem;
       -moz-column-gap: 9rem;
            column-gap: 9rem;
  }

  .career__navigation {
    margin-right: 9.375rem;
  }

  .career__box-title {
    margin-bottom: 6rem;
  }

  .blog__container {
    padding-bottom: 3.125rem;
  }

  .blog__container {
    padding-top: 7.6875rem;
  }

  .blog__body {
    gap: 2.5rem;
  }

  .blog__body {
    margin-top: 9rem;
  }

  .test__container {
    padding-bottom: 3.125rem;
  }

  .test__container {
    padding-top: 7.6875rem;
  }

  .test__body {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .test__body {
    margin-top: 9rem;
  }

  .skils__container {
    padding-bottom: 3.125rem;
  }

  .skils__container {
    padding-top: 7.6875rem;
  }

  .skils__title {
    padding-bottom: 7rem;
  }

  .education__item {
    padding-bottom: 3rem;
  }

  .content-slils__text:not(:last-child) {
    margin-bottom: 4rem;
  }

  .contact__container {
    padding-bottom: 3.125rem;
  }

  .contact__container {
    padding-top: 7.6875rem;
  }

  .contact__body {
    gap: 6.5rem;
  }

  .contact__items {
    row-gap: 3rem;
  }

  .footer {
    padding-bottom: 5.5rem;
  }

  .footer {
    padding-top: 5.5rem;
  }
}

@media (min-width: 75em) {
  .services__item {
    gap: 3.5rem;
  }

  .skils__body {
    gap: 14rem;
  }
}

@media (min-width: 90em) {
  .menu__list {
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
}

@media (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .skils__body {
    gap: 1.25rem;
  }
}

@media (max-width: 20em) {
  .main__container {
    padding-bottom: 1.875rem;
  }

  .main__container {
    padding-top: 4.375rem;
  }

  .services__container {
    padding-bottom: 1.875rem;
  }

  .services__container {
    padding-top: 4.375rem;
  }

  .portfolios__container {
    padding-bottom: 1.875rem;
  }

  .portfolios__container {
    padding-top: 4.375rem;
  }

  .portfolios__box-top {
    padding-bottom: 0.9375rem;
  }

  .career__container {
    padding-bottom: 1.875rem;
  }

  .career__container {
    padding-top: 4.375rem;
  }

  .career__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .career__navigation {
    margin-right: 1.875rem;
  }

  .career__box-title {
    margin-bottom: 1.25rem;
  }

  .blog__container {
    padding-bottom: 1.875rem;
  }

  .blog__container {
    padding-top: 4.375rem;
  }

  .blog__body {
    gap: 1.25rem;
  }

  .blog__body {
    margin-top: 2.5rem;
  }

  .test__container {
    padding-bottom: 1.875rem;
  }

  .test__container {
    padding-top: 4.375rem;
  }

  .test__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .test__body {
    margin-top: 2.5rem;
  }

  .skils__container {
    padding-bottom: 1.875rem;
  }

  .skils__container {
    padding-top: 4.375rem;
  }

  .skils__title {
    padding-bottom: 1.875rem;
  }

  .education__item {
    padding-bottom: 1.25rem;
  }

  .content-slils__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .contact__container {
    padding-bottom: 1.875rem;
  }

  .contact__container {
    padding-top: 4.375rem;
  }

  .contact__body {
    gap: 1.25rem;
  }

  .contact__items {
    row-gap: 0.625rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer {
    padding-top: 1.25rem;
  }
}

@media (max-width: 76.875em) {
  .fp-bullets {
    right: 1.25rem;
  }
}

@media (max-width: 62.5em) {
  .services__item {
    gap: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .services__items {
    padding: 1.4375rem 1.6875rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__body {
    min-height: 3.75rem;
  }

  .header__button {
    background-color: #000;
    border: 0.0625rem solid #000;
    color: white;
  }

  .menu__body::after {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3.75rem;
    background-color: #D9D9D9;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body::after {
    left: 0;
    height: 100%;
  }

  .menu__list {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5rem;
    row-gap: 2.1875rem;
    top: 0;
    left: -100%;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #7E74F1;
    color: white;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__list {
    left: 0;
  }

  .menu__link {
    font-size: 1.5rem;
    font-weight: 700;
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__content {
    padding-bottom: 3.125rem;
    width: 100%;
    height: inherit;
  }

  .main__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .img {
    height: 18.75rem;
  }

  .services__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    min-width: 17.5rem;
  }

  .career__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .career__navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 1.25rem;
    margin-right: 0;
    font-size: 1.25rem;
  }

  .career__btn {
    width: 100%;
    border: 0.0625rem solid #D9D9D9;
    margin-bottom: 0.3125rem;
  }

  .career__btn::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .career__content {
    width: 100%;
    min-height: 100vh;
  }

  .item-list {
    padding: 0 0.625rem;
  }

  .skils__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contact__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .contact__location {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }

  .portfolios__box-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 48em) and (max-width: 90em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -0.6517857143rem  +  4.6130952381vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , -0.6517857143rem  +  4.6130952381vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5625rem , -0.6517857143rem  +  4.6130952381vw , 3.5rem );
         -moz-column-gap: clamp( 1.5625rem , -0.6517857143rem  +  4.6130952381vw , 3.5rem );
              column-gap: clamp( 1.5625rem , -0.6517857143rem  +  4.6130952381vw , 3.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -0.6517857143rem  +  4.6130952381vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , -0.6517857143rem  +  4.6130952381vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 42);
         -moz-column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 42);
              column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 42);
    }
}
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .main__container {
      padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .main__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .main__container {
      padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .main__container {
      padding-top: calc(4.375rem + 3.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .services__container {
      padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .services__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .services__container {
      padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .services__container {
      padding-top: calc(4.375rem + 3.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .portfolios__container {
      padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .portfolios__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .portfolios__container {
      padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .portfolios__container {
      padding-top: calc(4.375rem + 3.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.1682692308rem  +  3.8461538462vw , 3.125rem )) {
    .portfolios__box-top {
      padding-bottom: clamp( 0.9375rem , 0.1682692308rem  +  3.8461538462vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.1682692308rem  +  3.8461538462vw , 3.125rem )) {
    .portfolios__box-top {
      padding-bottom: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .career__container {
      padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .career__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .career__container {
      padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .career__container {
      padding-top: calc(4.375rem + 3.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem )) or (column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem ))) {
    .career__body {
      -webkit-column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem );
         -moz-column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem );
              column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem )) or (column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem ))) {
    .career__body {
      -webkit-column-gap: calc(1.25rem + 7.75 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(1.25rem + 7.75 * (100vw - 20rem) / 56.875);
              column-gap: calc(1.25rem + 7.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-right: clamp( 1.875rem , -0.7623626374rem  +  13.1868131868vw , 9.375rem )) {
    .career__navigation {
      margin-right: clamp( 1.875rem , -0.7623626374rem  +  13.1868131868vw , 9.375rem );
    }
}

@supports not (margin-right: clamp( 1.875rem , -0.7623626374rem  +  13.1868131868vw , 9.375rem )) {
    .career__navigation {
      margin-right: calc(1.875rem + 7.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.4203296703rem  +  8.3516483516vw , 6rem )) {
    .career__box-title {
      margin-bottom: clamp( 1.25rem , -0.4203296703rem  +  8.3516483516vw , 6rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.4203296703rem  +  8.3516483516vw , 6rem )) {
    .career__box-title {
      margin-bottom: calc(1.25rem + 4.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .blog__container {
      padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .blog__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .blog__container {
      padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .blog__container {
      padding-top: calc(4.375rem + 3.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .blog__body {
      gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .blog__body {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 2.5rem , 0.2142857143rem  +  11.4285714286vw , 9rem )) {
    .blog__body {
      margin-top: clamp( 2.5rem , 0.2142857143rem  +  11.4285714286vw , 9rem );
    }
}

@supports not (margin-top: clamp( 2.5rem , 0.2142857143rem  +  11.4285714286vw , 9rem )) {
    .blog__body {
      margin-top: calc(2.5rem + 6.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .test__container {
      padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .test__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .test__container {
      padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .test__container {
      padding-top: calc(4.375rem + 3.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem ))) {
    .test__body {
      -webkit-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem ))) {
    .test__body {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 2.5rem , 0.2142857143rem  +  11.4285714286vw , 9rem )) {
    .test__body {
      margin-top: clamp( 2.5rem , 0.2142857143rem  +  11.4285714286vw , 9rem );
    }
}

@supports not (margin-top: clamp( 2.5rem , 0.2142857143rem  +  11.4285714286vw , 9rem )) {
    .test__body {
      margin-top: calc(2.5rem + 6.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .skils__container {
      padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .skils__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .skils__container {
      padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .skils__container {
      padding-top: calc(4.375rem + 3.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.0728021978rem  +  9.010989011vw , 7rem )) {
    .skils__title {
      padding-bottom: clamp( 1.875rem , 0.0728021978rem  +  9.010989011vw , 7rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.0728021978rem  +  9.010989011vw , 7rem )) {
    .skils__title {
      padding-bottom: calc(1.875rem + 5.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .education__item {
      padding-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .education__item {
      padding-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.282967033rem  +  4.8351648352vw , 4rem )) {
    .content-slils__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.282967033rem  +  4.8351648352vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.282967033rem  +  4.8351648352vw , 4rem )) {
    .content-slils__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .contact__container {
      padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem )) {
    .contact__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .contact__container {
      padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.2101648352rem  +  5.8241758242vw , 7.6875rem )) {
    .contact__container {
      padding-top: calc(4.375rem + 3.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , -0.5961538462rem  +  9.2307692308vw , 6.5rem )) {
    .contact__body {
      gap: clamp( 1.25rem , -0.5961538462rem  +  9.2307692308vw , 6.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.5961538462rem  +  9.2307692308vw , 6.5rem )) {
    .contact__body {
      gap: calc(1.25rem + 5.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (row-gap: clamp( 0.625rem , -0.2101648352rem  +  4.1758241758vw , 3rem )) {
    .contact__items {
      row-gap: clamp( 0.625rem , -0.2101648352rem  +  4.1758241758vw , 3rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , -0.2101648352rem  +  4.1758241758vw , 3rem )) {
    .contact__items {
      row-gap: calc(0.625rem + 2.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.2445054945rem  +  7.4725274725vw , 5.5rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , -0.2445054945rem  +  7.4725274725vw , 5.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.2445054945rem  +  7.4725274725vw , 5.5rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 4.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.2445054945rem  +  7.4725274725vw , 5.5rem )) {
    .footer {
      padding-top: clamp( 1.25rem , -0.2445054945rem  +  7.4725274725vw , 5.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.2445054945rem  +  7.4725274725vw , 5.5rem )) {
    .footer {
      padding-top: calc(1.25rem + 4.25 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 62.5em) and (max-width: 75em) {
@supports (gap: clamp( 1.25rem , -10rem  +  18vw , 3.5rem )) {
    .services__item {
      gap: clamp( 1.25rem , -10rem  +  18vw , 3.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , -10rem  +  18vw , 3.5rem )) {
    .services__item {
      gap: calc(1.25rem + 2.25 * (100vw - 62.5rem) / 12.5);
    }
}
}

@media (min-width: 48em) and (max-width: 75em) {
@supports (gap: clamp( 1.25rem , -21.4166666667rem  +  47.2222222222vw , 14rem )) {
    .skils__body {
      gap: clamp( 1.25rem , -21.4166666667rem  +  47.2222222222vw , 14rem );
    }
}

@supports not (gap: clamp( 1.25rem , -21.4166666667rem  +  47.2222222222vw , 14rem )) {
    .skils__body {
      gap: calc(1.25rem + 12.75 * (100vw - 48rem) / 27);
    }
}
}

@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }

  .social__icon:hover {
    color: #7E74F1;
  }

  .header__button:hover {
    border: 0.0625rem solid #7E74F1;
    background-color: #7E74F1;
    color: white;
  }

  .menu__link:hover {
    color: #7E74F1;
  }

  .portfolios__strelka:hover {
    background-color: rgba(126, 116, 241, 0.368627451);
  }

  .swiper-button-disabled:hover {
    background-color: #EAE6FE;
  }

  .portfolios__image-ibg:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .portfolios__title:hover {
    color: #7E74F1;
  }

  .portfolios__texnologia:hover {
    background-color: #7E74F1;
    border: 0.0625rem solid #7E74F1;
    color: white;
  }

  .portfolios__link:hover {
    color: #7E74F1;
  }

  .item-list__btn:hover {
    background-color: #7E74F1;
    color: #FFF;
  }

  .item-blog__image-ibg:hover {
    opacity: 1;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }

  .item-blog__link:hover {
    color: #7E74F1;
  }

  .form__button:hover {
    background-color: #574ebe;
  }
}